<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sbk.mapper.WxOccupationMapper">
    <select id="selectWxOccupationList" resultType="com.ruoyi.sbk.domain.WxOccupation">
        select *
        from wx_occupation
        <where>
            <if test="occupation != null  and occupation != ''">
                and occupation like concat('%', #{occupation}, '%')
            </if>
        </where>
    </select>

    <select id="listAll" resultType="com.ruoyi.sbk.domain.WxOccupation">
        select *
        from wx_occupation
    </select>
</mapper>